   <!-- <h5>Ostala svojstva objekta</h5>
    <small id="ostaloSm" class="form-text text-muted">Ovdje se upisuju ostala svojstva koje objekt.</small>-->
    <div class="form-group" *ngFor="let pair of pairs;let i=index">
        <!--<pre>{{pair | json}}</pre>-->
        <div class="form-inline" *ngIf="options && options.checkbox.first && i==0">
            <label for="first-chkbox">{{options.checkbox.label}}
                 <input class="form-check-input" type="checkbox" [(ngModel)]="pair.chkbox" name="{{pair}}chkfirst" id="peka" > 
            </label>
        </div>
        <div class="form-inline">

        
        <label for="{{pair.name}}" *ngIf="emptyPair">{{emptyPair[keys[0]]}}</label>
        <input type="text" class="form-control" id="pairName{{i}}"  [(ngModel)]="pair[keys[0]]" name="{{pair.name}}" #name="ngModel" required (ngModelChange)="write(pairs)">
        
        <label for="{{pair.name}}" *ngIf="emptyPair">{{emptyPair[keys[1]]}}</label>
        <input  type="text" class="form-control" id="pairValue{{i}}"  [(ngModel)]="pair[keys[1]]" name="{{pair.value}}" #name="ngModel" required (ngModelChange)="write(pairs)">
        
        <button class="btn btn-danger" (click)="pairs.splice(i, 1);write(pairs)">x</button>
        <small id="pairHelp{{i}}" class="form-text text-muted">{{explainer}}</small>
        </div>
      
      
    </div>
            <span class="btn btn-primary" (click)="addPair()">
            <strong>+</strong>&nbsp;&nbsp;Dodaj {{addDesc}}&nbsp;
        </span>