.capitalize{
  text-transform: capitalize;
}
.date-picker-popup{
  position:absolute;
  top:-133px;
  left:-133px;
  background: #fff;
  z-index:9;
}
.popup-container{
  position: relative;
}
.popup-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
}
.inside-hover{
  background:#b94a48;

}
.inside-period{
  background: #66b3ff;
  opacity: 0.5;

}

.inside-hover.inside-period{
    background: #66b3ff;
    opacity:1;
}
.price-box{
    margin-bottom: 6px;
    padding: 5px;
}
.min-stay-box{
  margin-bottom: 8px;
    padding: 0 3px;
}
