
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template>
<!--
  [{label:"Naziv1", value: "vrijednost1"},{label:"Naziv2", value: "vrijednost2"}]

<pre>{{periods | json}}</pre>-->
<div class="row text-center">
  <div class="col-md-6">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (click)="prevMonth()">
        Prošli
      </div>
      <div
        class="btn btn-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
          (click)="thisMonth()">
        Trenutni
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (click)="nextMonth()">
        Idući
      </div>
    </div>
  </div>
  <div class="col-md-6">
        <app-custom-select [values]="months" [(ngModel)]="selectedMonth" text="Odaberi mjesec" (ngModelChange)="onDateChange()"></app-custom-select>
        <app-custom-select [values]="years" [(ngModel)]="selectedYear" text="Odaberi godinu" (ngModelChange)="onDateChange()"></app-custom-select>
  </div>
  <div class="col-md-0">
    <!--
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Day
      </div>
    </div>-->
  </div>
</div>
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">

    <h3 style="text-transform: capitalize;">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>


    </div>
    <div class="col-md-4"></div>
</div>
<br>
<div>
  <mwl-calendar-month-view-header
    [days]="columnHeaders"
    [locale]="locale"
    >
  </mwl-calendar-month-view-header>
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [refresh]="refresh"
    [cellTemplate]="customDayTemplate"
    [headerTemplate]="customHeaderTemplate"
    (dayClicked)="dayClicked($event.day)"
    [locale]="locale" 
    [weekStartsOn]="weekStartsOn">
  </mwl-calendar-month-view>
      <template
      [ngTemplateOutlet]="customHeaderTemplate || defaultTemplate"
      [ngOutletContext]="{days: days, locale: locale}">
    </template>
   <template #customHeaderTemplate let-days="days" >
      <div class="cal-cell-row cal-header">
        <div
          class="cal-cell"
          style="text-transform: capitalize;"
          *ngFor="let day of days"
          [class.cal-past]="day.isPast"
          [class.cal-today]="day.isToday"
          [class.cal-future]="day.isFuture"
          [class.cal-weekend]="day.isWeekend">
          {{ day.date | calendarDate:'monthViewColumnHeader':locale }}
        </div>
      </div>
    </template>
    <template
      [ngTemplateOutlet]="customTemplate || defaultTemplate"
      [ngOutletContext]="{days: days, locale: locale}">
    </template>
 <ng-template #customDayTemplate let-day="day" >
      <div class="cal-cell-top" >
        <span class="cal-day-number">{{ day.date  | calendarDate:'monthViewDayNumber':locale}}</span>
      </div>
       <div class="cal-events"  *ngIf="checkPeriod(day.date); let period" [ngStyle]="{'background':period.color}">
<div class="price-box">{{period.price+' €'}}</div>
<div class="min-stay-box"><small>Minimalno noćenja: {{period.minStay}} dana</small></div>

       </div>
    </ng-template>
    


<!--
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
  -->
</div>
<br><br><br>

<h3>
  Uredi period
  <button
    class="btn btn-primary pull-right"
    (click)="addPeriod()">
    Dodaj period
  </button>
  <div class="clearfix"></div>
</h3>
<form name="userForm">
<table class="table table-bordered">

  <thead>
    <tr>
      <th>Naziv perioda</th>
      <th>Boja perioda</th>
      <th>Početak</th>
      <th>Kraj</th>
      <th>Cijena</th>
      <th>Minimalno noćenja</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody >
    <tr *ngFor="let period of periods; let index = index;">
      <td>
        Period {{index+1}}
      </td>
      <td [ngStyle]="{'background':'rgb('+period.color.red+', '+period.color.green+', '+period.color.blue+')'}">

      </td>
      <td>

        <div class="popup-container">
          <i class="fa fa-calendar cal-start-{{index}}" aria-hidden="true" (click)='period.startDate=true;activeCalendarIndex=index'></i>
          {{period.startDisplay}}
        
        <div class="date-picker-popup" [hidden]="!period.startDate">
       <ngb-datepicker  [(ngModel)]="period.startNgb" (navigate)="date = $event.next;" (ngModelChange)="starts($event, index);period.startDate=false;" [maxDate]="period.endNgb"
       [dayTemplate]="customDay" name="start-{{index}}">
         </ngb-datepicker>

       </div>

        </div>
      </td>
      <td>
          <div class="popup-container">
          <i class="fa fa-calendar cal-end-{{index}}" aria-hidden="true" (click)="period.endDate=true;activeCalendarIndex=index"></i>
          {{period.endDisplay}}
        <div class="date-picker-popup" [hidden]="!period.endDate">
       <ngb-datepicker  [(ngModel)]="period.endNgb" name="end-{{index}}" (navigate)="date = $event.next;"  (ngModelChange)="ends($event, index);period.endDate=false;" [minDate]="period.startNgb"  [dayTemplate]="customDay"></ngb-datepicker>  
       </div>

        </div>
      </td>
      <td>
       <input class="form-control" type="number" [(ngModel)]="period.price" name="price-{{index}}" (ngModelChange)="calculateColors()">
      </td>
      <td>
       <input class="form-control" type="number" [(ngModel)]="period.minStay" name="minStay-{{index}}">
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="periods.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>

    <button type="submit" class="btn btn-success" [disabled]="false" (click)="onSubmit()">Spremi i završi</button>

</form>
         <ng-template #customDay let-date="date"  let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
  <div class="custom-day" [class.inside-period]="isInside(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled"
  on-mouseover="hover(date)" [class.inside-hover]="isInHoverRange(date) && !disabled">
    {{ date.day }}
  </div>
         </ng-template>