<form (ngSubmit)="onSubmit()" #ObjDataForm="ngForm">
<h5>Multimedia</h5>
<h6>Televizija</h6>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Flatscreen TV</div>
     <div class="col-lg-9 col-xl-7">
         <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="flatscreen" name="flatscreen"> 
          </label>     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Kabelska</div>
     <div class="col-lg-9 col-xl-7">
           <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="cable" name="cable"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Satelitska</div>
     <div class="col-lg-9 col-xl-7">
                <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="satellite" name="satellite"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Antena</div>
     <div class="col-lg-9 col-xl-7">
                 <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="local" name="local"> 
          </label>

     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Ostalo</div>
     <div class="col-lg-9 col-xl-7">
         
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<h6>Glazba</h6>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Radio</div>
     <div class="col-lg-9 col-xl-7">
         <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="radio" name="radio"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">HI-FI/ Linija</div>
     <div class="col-lg-9 col-xl-7">
         <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="hifi" name="hifi"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Ostalo</div>
     <div class="col-lg-9 col-xl-7">
        
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<h6>Ostala multimedia</h6>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Projektor</div>
     <div class="col-lg-9 col-xl-7">
         <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="projector" name="projector"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Profesionalni audio sustav</div>
     <div class="col-lg-9 col-xl-7">
         <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="proffesionalAudio" name="proffesionalAudio"> 
          </label>
     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>
<div class="form-group row">
     <div class="col-lg-3 col-xl-2 col-form-label">Ostalo</div>
     <div class="col-lg-9 col-xl-7">

     </div>
     <div class="col-xl-3 hidden-lg"></div>
</div>

</form>
