<div class="basic-box">
  <div class="box-header">
    {{content.header}}
  </div>
  <div class="box-content">
    <div *ngIf="content.content.type">
      {{content.content.type}}
    </div>
    <div *ngIf="content.content.decorator">
      
    </div>
    <div *ngIf="content.content.link">
      <a [routerLink]="[content.content.link]" (click)="setActiveGid(content.content.gid)">{{content.header}}</a>
      <a [routerLink]="[content.content.link+'/invite']" (click)="setActiveGid(content.content.gid)">Invite members</a>
      <a [routerLink]="[content.content.link+'/units']" (click)="setActiveGid(content.content.gid)">Units</a>
    </div>
    
    
  </div>
</div>
