<!-- The Modal -->

<div id="myModal" class="t2t-modal" [hidden]="options.backdrop==false" [ngStyle]="{'display': open?'block':'none'}">

  <!-- Modal content -->
  <div class="t2t-modal-content">
    <div class="t2t-modal-header">
      <span class="close" [hidden]="options.closeButton==false">&times;</span>
      <h2>{{content.title}}</h2>
    </div>
    <div class="t2t-modal-body" #modalBody>
    </div>
    <div class="t2t-modal-footer">
      <button *ngFor="let button of content.buttons" (click)="emitAction(button.action)" class="btn btn-outline-danger"  >
        <strong>{{button.text}}</strong>
      </button>
    </div>
  </div>

</div>


<div class="t2t-modal-content no-backdrop" [hidden]="options.backdrop==true" [ngStyle]="{'display': open?'block':'none'}">
    <div class="t2t-modal-header">
      <span class="close" [hidden]="options.closeButton==false">&times;</span>
      <h2>{{content.title}}</h2>
    </div>
    <div class="t2t-modal-body" #modalBody>

    </div>
    <div class="t2t-modal-footer">
      <button *ngFor="let button of content.buttons" (click)="emitAction(button.action)" class="btn btn-outline-danger" >
        <strong>{{button.text}}</strong>
      </button>
    </div>
  </div>