
        
          <h3>Dobrodošli u admin panel.</h3>

          <div class="row placeholders">
              
            <div class="col-md-12 placeholder">
                <h5>Filters</h5>
                <form>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Username" #username>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Email" #email>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Event" #event>
                    </div>
                 <div class="form-group col-md-6"><app-dual-date-popup (start)="getStartDate($event)" (end)="getEndDate($event)"></app-dual-date-popup></div>
                <div class="form-group col-md-12">
                    <button class="btn btn-primary" (click)='applyFilter(username.value, email.value, event.value);'>Primjeni filtere</button>
                </div>
                </form>
            </div>
          </div>
          <hr/>

          <h4>Action log</h4>
          <div class="table-responsive">
            <table class="table table-sm table-hover">
    <thead class="thead-inverse" style="">
      <tr>
        <th>Username</th>
        <th (email.desc)="true" (email.touched)="false" (click)="orderBy('email', email.desc);email.desc=!email.desc;email.touched=true">Email
          <i *ngIf="!email.desc && email.touched" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          <i *ngIf="email.desc && email.touched" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
          </th>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let action of actions">
           <td>{{action.displayName}}</td>
           <td>{{action.email}}</td>
           <td>{{action.event}}</td>
           <td>{{action.time | date:'d.M.y'}}</td>
           <td>{{action.time | date:'H:mm'}}</td> 
        </tr>
    </tbody>
    </table>
          </div>
          
              <div class="col-md-5">
                  <p>Broj rezultata po stranici:</p>
    <div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-secondary" (click)="noResults(10)">10</button>
  <button type="button" class="btn btn-secondary" (click)="noResults(25)">25</button>
  <button type="button" class="btn btn-secondary" (click)="noResults(50)">50</button>
  <button type="button" class="btn btn-secondary" (click)="noResults(100)">100</button>
  <button type="button" class="btn btn-secondary" (click)="noResults(initLength)">Svi</button>
</div>
              </div>

<div class="col-md-7">
    <p>Idi na stranicu:</p>
<nav aria-label="Action log search.">
<ul class="pagination pagination-sm" style="margin-top:0px">
  <li class="page-item" [ngClass]="{'disabled': currentPage==1 }"><a class="page-link" (click)="goToPage(1)">Prva</a></li>
  <li class="page-item" *ngIf="(currentPage-2)>0"><a class="page-link" (click)="goToPage((currentPage-2))">{{currentPage-2}}</a></li>
  <li class="page-item" *ngIf="(currentPage-1)>0"><a class="page-link" (click)="goToPage((currentPage-1))">{{currentPage-1}}</a></li>
  <li class="page-item active"><a class="page-link">{{currentPage}}</a></li>
  <li class="page-item" *ngIf="(currentPage+1)<=noPages" ><a class="page-link" (click)="goToPage((currentPage+1))">{{currentPage+1}}</a></li>
  <li class="page-item" *ngIf="(currentPage+2)<=noPages"><a class="page-link" (click)="goToPage((currentPage+2))">{{currentPage+2}}</a></li>
  <li class="page-item" [ngClass]="{'disabled': currentPage==noPages }"><a class="page-link" (click)="goToPage(noPages)">Zadnja</a></li>
</ul>
</nav>

</div>

          














