/* Sticky footer styles
-------------------------------------------------- */

.footer {
    z-index: 9999;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 39px;
  line-height: 38px; /* Vertically center the text there */
  background-color: #f5f5f5;
  border-top:1px solid #eee;
}
.chat-group{
  display:inline-table;
  float:right;
  border-radius: 0;
  color:#0275d8;
  position:relative;
  font-size:12px;
  height: 38px;
  width: 210px;

}
.search-group{
  display:inline-table;
  float:right;
  border-radius: 0;
  position:relative;
  font-size:12px;
  height: 38px;
  box-sizing: border-box;
  width: 210px;
  overflow: none;
  padding-left:16px;
  border: 0;
  padding: 4px;


}
.container-fluid{
  padding-right: 0;
}
.chat-window{
  width: 212px;
  box-sizing:border-box;
  
  height: 250px;
  border: 1px solid #eee;
  position:absolute;
  bottom:38px;
  left:-1px;
  background: #fff;
}
.chat-header{
  background: #0275d8;
  color:#fff;
  position:relative;
  top:0;
  border-bottom:1px solid #eee;
  height: 24px;
  line-height: 24px;
}
.chat-content{
  height: 194px;
  overflow-y: auto;
  display:block;

}
.chat-input{
  position:relative;
  bottom:0;
  border-top:1px solid #999;
  height: 30px;
  line-height: 30px;
}
.chat-input > input{
  width: 100%;
  margin:0;
  border:0;
  height: 30px;
  font-size:12px;
  padding-left:5px;
}
.chat-input > input:focus{
  width: 100%;
  margin:0;
  border:0;
  height: 30px;
  font-size:12px;
  padding-left:5px;
}
.group-close{
  float:right;
  line-height: 23px;
  padding-right:5px;
}
.group-close:hover{
  color:#999;
}
.chat-row{
  width: 100%;
  margin:0;
  padding:0;
  clear:both;
}
.sender-info{
    
  color:#000;
  
  height: auto;
  width: auto;
  clear:both;
  float:left;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.28;
  padding:4px;
}
.msg-body{
  background: #eee;
  color:#000;
  border-radius:8px;
  height: auto;
  width: auto;
  clear:both;
  float:left;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.28;
  padding:4px;
  margin-left:5px;
  margin-right:5px;
  border-top-left-radius: 0;
    margin-bottom:3px;

    
}
.my-msg{
  background: #0275d8;
  color: #fff;
  float:right;
  clear:both;
  border-top-left-radius:8px;
  border-bottom-right-radius: 0;
}
/* Custom page CSS
-------------------------------------------------- */
