<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="background-color: #09224c;" *ngIf="user">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle=!toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand nav-logo" [style.background-image]="'url('+fullPath+')'"></div>
      <div class="collapse navbar-collapse" id="navbarCollapse" [ngStyle]="{'display':toggle?'block':'none'}">
        <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/auth/user']">Dashboard <span class="sr-only">(current)</span></a></li>
    <li class="nav-item" *ngIf="user && user.uid"><a class="nav-link" [routerLink]="['/auth/user', user.uid, 'groups']">Groups <span class="sr-only">(current)</span></a></li>
        </ul>
         <ul class="navbar-nav float-xs-right">
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn"><app-watcher [uid]="user.uid"></app-watcher></a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="!loggedIn" routerLink="/auth"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="/auth/dash">{{user.displayName?user.displayName:user.email}}</a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="/auth/data"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>

    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>

  </ul>
     <!--   <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
           
      </div>
    </nav>

<!--

<nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #09224c;">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/auth"  routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
   <li class="nav-item"><a class="nav-link" [routerLink]="['/auth/user']">Dashboard <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/auth/user', uid, 'groups']">Groups <span class="sr-only">(current)</span></a></li>
  </ul>
   <ul class="navbar-nav float-xs-right">
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn"><app-watcher [uid]="uid"></app-watcher></a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="!loggedIn" routerLink="/auth"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="/auth/dash">{{email}}</a></li>
    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="/auth/data"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>

    <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>

  </ul>
</nav>
-->
 <div class="container-fluid page-wrapper">
      <div class="row">
 <div class="col-md-2 sidebar" *ngIf="user">
          
    <!-- end of code -->
<ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/user">Grupa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/auth/user" >Jedinice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kalendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">B2B</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Računi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Alati</a>
            </li>
          </ul>


          
        </div>

        <div class="col-md-10 offset-md-2 main">
        <div class="main-wrapper">
          <router-outlet></router-outlet>
        </div>
          

</div>

          
        </div>
      </div>
<app-chat *ngIf="user"   ></app-chat>

