nav.navbar {
    border-radius: 0;
    margin:0;
}
li > a.active {
}
.nav-logo{
    width: 60px;
    height: 40px;
        background-position: center;
    background-size: 90px;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */




.sideb{
  min-height: 0px;
}

/*
 * Main content
 */

.main {
  padding:0;
  padding-top:60px;
  height: 100vh;
  padding-bottom:40px;
  box-sizing: border-box;
  
  
}
.main-wrapper{
  overflow-y: auto;
  height: 100%;
  border:0;
  padding:20px;
  margin:0;
  overflow-x: hidden;

}
@media (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}

