<div class="up-reservation-container">
<div class="row">
  <div class="col-md-6">
      <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="Dolazak" name="dp" [(ngModel)]="startDate" ngbDatepicker [dayTemplate]="dayTemplate" [markDisabled]="isDisabled" #d1="ngbDatepicker" aria-describedby="calendar-addon1">
      <span class="input-group-addon" (click)="d1.toggle();d2.close()" id="calendar-addon1">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  </div>
  <div class="col-md-6">
      <div class="form-group" >
    <div class="input-group">
      <input class="form-control" [outsideDays]="visible" placeholder="Odlazak" name="dp2" [(ngModel)]="endDate" ngbDatepicker [dayTemplate]="dayTemplate" #d2="ngbDatepicker" aria-describedby="calendar-addon2">
      <span class="input-group-addon" (click)="d2.toggle();d1.close()" id="calendar-addon2">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  </div>
</div>
</div>












<pre *ngIf="startDate">startDate: {{ startDate | json }}</pre>
<pre *ngIf="endDate">endDate: {{ endDate | json }}</pre>


<!-- class.calDay="return of a function to apply class"-->

<ng-template #dayTemplate let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>
