<div class="up-reservation-container">
<div class="row reservation-first-row">
  <div class="col-lg-5">
      <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="Dolazak" name="start" [(ngModel)]="startDate" ngbDatepicker [dayTemplate]="dayTemplate" [markDisabled]="isDisabled" #d1="ngbDatepicker" aria-describedby="calendar-addon1">
      <span class="input-group-addon" (click)="d1.toggle();d2.close()" id="calendar-addon1">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  </div>
  <div class="col-lg-5 push-lg-2">
      <div class="form-group" >
    <div class="input-group">
      <input class="form-control" [outsideDays]="visible" placeholder="Odlazak" name="end" [(ngModel)]="endDate" ngbDatepicker [dayTemplate]="dayTemplate" #d2="ngbDatepicker" aria-describedby="calendar-addon2">
      <span class="input-group-addon" (click)="d2.toggle();d1.close()" id="calendar-addon2">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  </div>
  <div class="col-lg-2 pull-lg-5 number-container">
    <div class="guestCounter">
      <i class="material-icons" (click)="noGuests=noGuests>1?noGuests-1:noGuests;" [ngClass]="{'minus-disabled':noGuests==1}">remove_circle_outline</i>
      <div class="guestNumber">{{noGuests}}</div>
      <i class="material-icons" (click)="noGuests=noGuests+1;">add_circle_outline</i>
      <div class="noGuests-caption-container">
        <div class="noGuests-caption"><small>Broj osoba</small></div>
      </div>
    </div>
  </div>
</div>
<div class="row reservation-first-row">
  <div class="col-md-7 reservation-border-right">
    <h5>Podaci o gostu</h5>
    <form  #guestDataForm="ngForm">
      <pre>{{guestDataForm.value | json}}</pre>
        <div class="form-group reservation-group"> 
          <label for="name">Ime:</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="guestData.name" />
        </div>
          <div class="form-group reservation-group" *ngIf="expandGuestData"> 
          <label for="midname" >Srednje ime:</label>
          <input type="text" name="midname" class="form-control" [(ngModel)]="guestData.middlename"/>
        </div>
          <div class="form-group reservation-group"> 
          <label for="surname">Prezime:</label>
          <input type="text" name="surname" class="form-control" [(ngModel)]="guestData.surname"/>
        </div>
        <div class="form-group reservation-group"> 
          <label for="contactTel">Broj telefona:</label>
          <input type="text" name="contactTel" class="form-control" [(ngModel)]="guestData.tel"/>
        </div>
        <div class="form-group reservation-group"> 
          <label for="contactEmail">Email:</label>
          <input type="email" name="contactEmail" class="form-control" [(ngModel)]="guestData.email"/>
        </div>
                <div class="form-group reservation-group" *ngIf="expandGuestData"> 
          <app-custom-select [values]="['osobna - domaća', 'putovnica - domaća', 'osobna - domaća', 'osobna - strana']" [text]="'Odaberite vrstu isprave'" name="documentType" [(ngModel)]="guestData.documentType"></app-custom-select>

        </div>
        <div class="form-group reservation-group" *ngIf="expandGuestData">
                              <label for="idNumber">Broj isprave:</label>
          <input type="text" name="idNumber" class="form-control" [(ngModel)]="guestData.idNumber"/>
        </div>
                  <div class="form-group reservation-group" *ngIf="expandGuestData"> 
          <label for="city">Mjesto boravišta:</label>
          <input type="text" name="city" class="form-control" [(ngModel)]="guestData.place"/>
        </div>
                  <div class="form-group reservation-group"> 
          <label for="country">Država boravišta:</label>
          <input type="text" name="country" class="form-control" [(ngModel)]="guestData.country"/>
        </div>
                  <div class="form-group reservation-group" *ngIf="expandGuestData"> 
          <label for="birthPlace">Mjesto rođenja:</label>
          <input type="text" name="birthPlace" class="form-control" [(ngModel)]="guestData.birthPlace"/>
        </div>
                  <div class="form-group reservation-group" *ngIf="expandGuestData"> 
          <label for="birthCountry">Država rođenja:</label>
          <input type="text" name="birthCountry" class="form-control" [(ngModel)]="guestData.birthCountry"/>
        </div>
        <div class="form-group reservation-group">
          <button type="button" class="btn btn-primary" (click)="expandGuestData=!expandGuestData">
            <div *ngIf="!expandGuestData" class="button-content"><i class="material-icons">add</i>Prošireni podaci</div>
            <div *ngIf="expandGuestData" class="button-content"><i class="material-icons">remove</i>Skraćeni podaci</div>
            </button>

        </div>
        </form>
  </div>
  <div class="col-md-5">
    <h6>Bilješke</h6>
    <div class="row">
    </div>
    <div *ngFor="let note of notes" class="row note-bubble">
      <div class="note-date col-sm-5 col-lg-4">{{note.date | date:'d.M. y'}}</div>
      <div class="note-text col-sm-7 col-lg-8">
              {{note.text}}

      </div>
        </div>
      <div class="form-group" >
                        <label for="dp3">Datum na koji se odnosi bilješka</label>

    <div class="input-group">

      <input class="form-control" [outsideDays]="visible" placeholder="Odaberite datum" name="dp3" [(ngModel)]="noteObject.date" ngbDatepicker [dayTemplate]="dayTemplate" #d3="ngbDatepicker" aria-describedby="calendar-addon3">
      <span class="input-group-addon" (click)="d3.toggle();d1.close();d2.close()" id="calendar-addon3">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  <div class="form-group reservation-group"> 
          <label for="country">Bilješka</label>
          <input type="text" name="country" class="form-control" [(ngModel)]="noteObject.text"/>
        </div>
    <button type="button" class="btn btn-primary" (click)="addNote(noteObject)">Dodaj bilješku</button>

  </div>
</div>
<div class="row reserve-row">
  <button type="button" class="btn btn-success btn-lg" (click)="makeReservation(guestDataForm.value)">Rezerviraj!</button>
    <button type="button" class="btn btn-danger btn-lg">Obriši</button>
        <button type="button" class="btn btn-secondary btn-lg">Zatvori</button>



</div>
</div>












<pre *ngIf="startDate">startDate: {{ startDate | json }}</pre>
<pre *ngIf="endDate">endDate: {{ endDate | json }}</pre>


<!-- class.calDay="return of a function to apply class"-->

<ng-template #dayTemplate let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>
