<div [(ngModel)]="language" ngbRadioGroup>
  <label class="btn btn-primary">
    <input type="radio" value="en" checked="true"> English
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="fr"> Français
  </label>
</div>
<hr>
<ngb-datepicker [(ngModel)]="model"></ngb-datepicker>
<!--<pre>Start date is: <em *ngIf="startDT">{{ getStartDate() | date:'d.M.y'}}</em></pre>
<pre>End date is: <em *ngIf="endDT">{{ getEndDate() | date:'fullDate'}}</em></pre>
<div class="row">
  <div class="col-md-6 datepicker-container">
    <div class="row">
      <div class="col-md-12 input-group">
        <input placeholder="Od" type="text" class="form-control" [(ngModel)]="start" (keyup.enter)="startDT=setStartDate(start)"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="startPopup=!startPopup"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="datepicker-popup" *ngIf="startPopup">
      <datepicker [(ngModel)]="startDT"  [showWeeks]="false"></datepicker>
      <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-info" (click)="todayStart()">Today</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="clearStart()">Clear</button>
      </div>
    </div>
  </div>
  <div class=" col-md-4 datepicker-container">
    <div class="row">
      <div class="col-md-12 input-group">
        <input placeholder="Do" type="text" class="form-control" [(ngModel)]="end" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="endPopup=!endPopup"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="datepicker-popup" *ngIf="endPopup">
      <datepicker [(ngModel)]="endDT"  [showWeeks]="false"></datepicker>
      <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-info" (click)="todayEnd()">Today</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="clearEnd()">Clear</button>
      </div>
    </div>
  </div>
</div>-->

