<template #dt let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
       <div ngbDatepickerDayView [date]="date" [currentMonth]="currentMonth" [selected]="selected" [disabled]="disabled"></div>
    </template>
    <ngb-datepicker-navigation *ngIf="navigation !== 'none'"
      [date]="months[0]?.firstDate"
      [minDate]="_minDate"
      [maxDate]="_maxDate"
      [disabled]="disabled"
      [showWeekNumbers]="showWeekNumbers"
      [showSelect]="navigation === 'select'"
      (navigate)="onNavigateEvent($event)"
      (select)="onNavigateDateSelect($event)">
    </ngb-datepicker-navigation>
    <table>
      <tr *ngIf="navigation !== 'select' || displayMonths > 1">
        <td *ngFor="let month of months" class="text-xs-center font-weight-bold">
          {{ i18n.getMonthName(month.number) }} {{ month.year }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let month of months" class="pl-1 month">
          <ngb-datepicker-month-view
            [month]="month"
            [selectedDate]="model"
            [dayTemplate]="dayTemplate || dt"
            [showWeekdays]="showWeekdays"
            [showWeekNumbers]="showWeekNumbers"
            [disabled]="disabled"
            [outsideDays]="displayMonths === 1 ? outsideDays : 'hidden'"
            (select)="onDateSelect($event)">
          </ngb-datepicker-month-view>
        </td>
      </tr>
    </table>