
<nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #09224c;">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
    <a class="nav-item nav-link" href="#">About</a>
  </div>
   <div class="nav navbar-nav float-xs-right">
    <a class="nav-item nav-link" *ngIf="!loggedIn" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
    <a class="nav-item nav-link" *ngIf="loggedIn" routerLink="/login/user-data">{{email}}</a>
    <a class="nav-item nav-link" *ngIf="loggedIn" href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>

  </div>
</nav>


