<nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #09224c;">
  <div class="nav navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Naslovna</a>
        <a class="nav-item nav-link active" routerLink="/project" routerLinkActive="active">O Projektu</a>
        <a class="nav-item nav-link active" routerLink="/prices" routerLinkActive="active">Cjenik</a>
        <a class="nav-item nav-link active" routerLink="/about" routerLinkActive="active">O Nama</a>
        <a class="nav-item nav-link active" routerLink="/login" routerLinkActive="active">Admin</a>
  </div>
   <div class="nav navbar-nav float-xs-right">
    <a class="nav-item nav-link active" routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>

  </div>
</nav>