.wizzy-container{
    padding-right:30px;
    padding-left:15px;
    margin-bottom:15px;
}
.arrow-link{
    color:#fff;
}
.arrow-link:not(.not-accessible):hover{
    text-decoration: none;
    color:#e74c3c;
    text-shadow: 1px 1px #fff;

}
.not-accessible{

    cursor: not-allowed;
    color:#fff;
}
.arrow-right {
  width: 0; 
  height: 0; 
    box-sizing:border-box;
  position:absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid #0275d8;
  right:-15px;
  top:0;
  z-index:500;
}
.arrow-inverse{
    border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
position: absolute;
  border-left: 20px solid #fff;
  width:20px;
  height: 0;
  background: #0275d8;
      box-sizing:border-box;
  top:0;
left:0;
}

.link-disabled{
    color:#000;
    pointer-events: none;
}
.wizzy-inside-first{
    /*
    position: relative;
    padding-right:20px;
    height: 40px;
    background: #0275d8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    line-height: 40px;*/
        width:100%;
      background: #0275d8;
height:40px;
/*margin-left:20px;*/
line-height: 40px;
padding-left:10px;
box-sizing: border-box;
color: inherit;
 border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.wizzy-inside{
    width:100%;
      background: #0275d8;
height:40px;
/*margin-left:20px;*/
line-height: 40px;
padding-left:10px;
box-sizing: border-box;
color: inherit;
}
.wizzy-item{
    position: relative;
    padding-right:5px;
        padding-left:20px;
    height: 40px;

    
}
.wizzy-item-first{
    position: relative;
    padding-right:5px;
        padding-left:0;
    height: 40px;

    
}
.done:not(.arrow-right){
    background: #6ed902;
}
.arrow-right.done{
      border-left: 20px solid #6ed902;
;

}
.inactive:not(.arrow-right){
    background: #cde7fe;
}
.arrow-right.inactive{
          border-left: 20px solid #cde7fe;



}
.badge-pill{
        padding: 2px;
    border-radius: 8px;
}