.btn-outline-primary {
    color:rgba(255,255,255,.5);
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    padding:0;
    position: relative;
}

.new-msg{
    
    min-width:14px;
    height:14px;
    position:absolute;
    top:0;
    right: -50%;
    
    padding:0 4px;
    background-color: #ff0000;
    color:#fff;
    
    font-size:10px;
    
    border-radius:7px;
    font-weight: bold;

}
.notification-content{
    color:#000;
}
.solved{
    opacity: 0.5;
}